*{
    background-color: rgb(21, 59, 141);
}

.topo{
    text-align: center;
    padding: 90px 40px;
    color: blanchedalmond;
}

.botoes{
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: thick  groove  rgb(0, 140, 255);
}

#botaoSubtrair{
    padding: 10px;
    width: 25%;
    background: rgb(57, 142, 221);
    color: #d9d9d9;
}

#botaoSomar{
    padding: 10px;
    width: 25%;
    background: rgb(57, 142, 221);
    color: #d9d9d9;
}

#botaoReset{
    padding: 10px;
    width: 40%;
    background-color: rgb(57, 142, 221);
    color: #d9d9d9;
}

#contador{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: azure;
}